body {
  background-image: url("./img/world.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.countries {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: bold;
  font-size: 3rem;
}
